@font-face {
	font-family: 'Canela Web';
	src: url('Canela-BoldItalic-Web.woff2') format('woff2'),
		 url('Canela-BoldItalic-Web.woff') format('woff');
	font-weight: 700;
	font-style: italic;
	}

.Canela-BoldItalic-Web {
	font-family: 'Canela Web';
	font-weight: 700;
	font-style: italic;
	}
