@font-face {
	font-family: 'Canela Web';
	src: url('Canela-BlackItalic-Web.woff2') format('woff2'),
		 url('Canela-BlackItalic-Web.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	}

.Canela-BlackItalic-Web {
	font-family: 'Canela Web';
	font-weight: 900;
	font-style: italic;
	}
